{% extends 'index.html' %}
{% load static %}

{% block title %}
Pestmarket | About Us
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    Pestmarket is the best platform for you to buy the best in market pesticides for your plants and
                    crops. Not only that it is the only place you can come, share and discuss your topic on agriculture
                    and other topic of interest.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}