<footer>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 pr-5">
                <h3>Pestmarket</h3>
                <p>Pestmarket is the best platform for you to buy the best in market pesticides for your plants and
                    crops while sharing and discussing your topics of interest.
                    and other topics.</p>
            </div>
            <div class="col-md-3 pt-4">
                <ul>
                    <li><i class="far fa-address-card"></i>&nbsp;9860673555</li>
                    <li><i class="far fa-envelope"></i>&nbsp;pestmarket@gmail.com</li>
                    <li><i class="fas fa-map-marker"></i>&nbsp;Pipalbot, Dillibazar</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Pesticides</a></li>
                    <li><a href="">Forum</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>