<footer class="mb-0">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 pr-5">
                <h3>Pestmarket</h3>
                <p>Pestmarket is the best platform for you to buy the best in market pesticides for your plants and
                    crops while sharing and discussing your topics of interest.
                    and other topics.</p>
            </div>
            <div class="col-md-3 pt-4">
                <ul>
                    <li><i class="far fa-address-card"></i><label class="pl-3">9860673555</label></li>
                    <li><i class="far fa-envelope"></i><label class="pl-3">pestmarket@gmail.com</label></li>
                    <li><i class="fas fa-map-marker"></i>&nbsp;<label class="pl-3">Pipalbot, Dillibazar</label></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Pesticides</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>