{% extends 'index.html' %}
{% load static %}

{% block title %}
Pestmarket | Order
{% endblock %}

{% block content %}
<main>
    <div class="container p-4">
        {% if user.is_staff %}
        <div class="orders-list">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3>Orders for {{orderid.customer}}</h3>
                <a href="/admins/orders/" class="btn btn-outline-danger">All Orders</a>
            </div>
            <table class="table table-hover orders-table">
                <thead style="color: #EDEDED;
                background: #019F55;">
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <th scope="row">{{order.product.id}}</th>
                        <td><img class="product-list-image" src="{{order.product.image.url}}" alt=""></td>
                        <td style=>{{order.product.name}}</td>
                        <td>{{order.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="jumbotron">
            <p class="lead">Error</p>
            <hr class="my-4">
            <p>The page is unavailable</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}