{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Pestmarket | Cart
{% endblock %}

{% block content %}
<main>
    <div class="container cart p-4">
        <div class="added-products">
            {% for item in items %}
            <div class="cart-product p-4 shadow">
                <div class="cart-p-info">
                    <img class="cart-p-img mr-3" src="{{item.product.image.url}}" alt="">
                    <div>
                        <h6 class="mt-3">{{item.product.name}}</h6>
                        <p>Rs {{item.product.price}}</p>
                    </div>
                </div>
                <div class="cart-p-quantity">
                    <div class="p-qty text-center py-1 px-2">
                        <span>
                            <i class="fas fa-plus update-cart" data-product={{item.product.id}} data-action="add"></i>
                        </span>
                    </div>
                    <div class="p-quantity text-center p-1">
                        {{item.quantity}}
                    </div>
                    <div class="p-qty text-center py-1 px-2">
                        <i class="fas fa-minus update-cart" data-product={{item.product.id}} data-action="remove"></i>
                    </div>
                </div>
                <div class="cart-p-total mt-3">
                    <h6>Total</h6>
                    <p>Rs {{item.get_total}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if order.get_cart_items == 0 %}
        <div class="order-summary">
            <a href="/products/" class="btn btn-block btn-outline-secondary">Your cart is empty, continue shopping</a>
        </div>
        {% else %}
        <div class="order-summary">
            <div class="order-details p-4 shadow">
                <h2>Order Summary</h2>
                <p>Total Items : <span>{{order.get_cart_items}}</span></p>
                <p>Total Price : <span>Rs {{order.get_cart_total}}</span></p>
                <button class="btn btn-block btn-outline-success btn-checkout">CHECKOUT</button>
            </div>
            <div class="checkout mt-4 p-4 shadow">
                <form method="POST">
                    {% csrf_token %}
                    {{ checkoutform|crispy }}
                    <div class="form-group">
                        <button class="btn btn-block btn-outline-warning" type="submit">PROCEED</button>
                        <button class="btn btn-block btn-outline-secondary btn-cancel" type="button">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}