{% extends 'index.html' %}
{% load static %}

{% block title %}
Pestmarket | Market
{% endblock %}

{% block content %}
<main>
    <div class="container p-4">
        <h1 class="lg-title">Organic Pesticides
            <span>
                <a href="/products/cart/">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </span>
        </h1>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4">
                <div class="product-items shadow">
                    <div class="product p-3">
                        <div class="product-content p-2">
                            <div class="product-img">
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="product-btns mt-2">
                                <button type="button" class="btn btn-cart p-2">
                                    add to cart
                                    <span>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div class="product-info py-3 px-4">
                            <a href="#" class="product-name">{{product.name}}</a>
                            <p class="product-price">Rs {{product.price}}</p>
                            <div class="product-info-top">
                                <button type="button" class="btn btn-sm btn-block btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}