.post {
    font-family: "Montserrat", sans-serif !important;

    border: none;
}

.post-title {
    font-weight: bold;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 50%;
    height: auto;
}

.post-author {
    display: flex;
    flex-direction: row;
}

.author-img {
    width: 25px;
    height: 25px;

    border-radius: 50%;

    object-fit: cover;
}

.author-name {
    color: #9E1602;
}

.post-options {
    margin-left: auto;
}

.post-options .dropdown-item {
    font-size: 12px;
}

.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.like-post {
    width: 50px;
}

.comment-post {
    width: 50px;
}

@media(max-width: 767px) {
/*
.post-actions {
        flex-direction: row;

        justify-content: space-around;
}
*/
}
