/* Overall */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 70px);
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif !important;
}

.btn {
    font-family: "Montserrat", sans-serif !important;
}

/* Colors */

.colors {
    color: #00522C;
    color: #019F55;
    color: #1AEB89;
    color: #520B00;
    color: #9E1602;
}

/* Navbar */

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-size: 1.8em;
    font-weight: 800;

    /* color: #019F55 !important; */
}

.navbar-brand span {
    color: #019F55;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.active {
    color: #00522C !important;
}

.navlink::after {
    display: block;

    width: 0;
    height: 2px;

    content: "";
    transition: width 0.3s;

    background: #1fa12e;
}

.navlink:hover::after {
    width: 100%;

    transition: width 0.3s;
}

.navlink:hover {
    color: #1fa12e !important;
}

.btn-login {
    width: 150px;

    color: #f7f7f7 !important;
    border: 2px solid #019F55;
    border-radius: 50px;
    background-color: #019F55;
}

.btn-login:hover {
    color: #019F55 !important;
    border: 2px solid #019F55;
    background-color: #f7f7f7;
}

.profile-img {
    width: 20px;
    height: 20px;

    border-radius: 50%;

    object-fit: cover;
}

/* Jumbotron */

.jumbotron .lead {
    font-family: "Monsterrat", sans-serif;

    color: #4F4F4F;
}

.btn-market {
    font-weight: bold;

    color: #FFF;
    border: 2px solid #9E1602;
    border-radius: 30px;
    background-color: #9E1602 !important;
}

.btn-market:hover {
    color: #9E1602;
    background-color: #E9ECEF !important;
}

.btn-forum {
    font-weight: bold;

    color: #FFF;
    border: 2px solid #019F55;
    border-radius: 30px;
    background-color: #019F55 !important;
}

.btn-forum:hover {
    color: #019F55;
    background-color: #E9ECEF !important;
}

/* Login Page */

.login-container {
    position: relative;

    overflow: hidden;

    width: 1000px;
    height: 600px;

    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.user {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
}

.login-image {
    position: relative;

    width: 50%;
    height: 100%;

    transition: 0.5s;
}

.login-image img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.login-box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
    padding: 40px;

    transition: 0.5s;

    background: #fff;
}

.input-field {
    position: relative;

    display: grid;

    width: 100%;
    max-width: 480px;
    height: 55px;
    margin: 10px 0;
    padding: 0 0.4rem;

    border-radius: 55px;
    background-color: #f0f0f0;

    grid-template-columns: 15% 85%;
}

.input-field i {
    font-size: 1.1rem;
    line-height: 55px;

    transition: 0.5s;
    text-align: center;

    color: #acacac;
}

.input-field input {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;

    color: #333;
    border: none;
    outline: none;
    background: none;
}

.input-field input::placeholder {
    font-weight: 500;

    color: #aaa;
}

.btn-signin {
    font-weight: 600;

    width: 150px;
    height: 49px;
    margin: 10px 0;

    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 49px;
    outline: none;
    background-color: #019F55;
}

.btn-signin:hover {
    background-color: #1AEB89;
}

/* Footer */

footer {
    font-family: "Montserrat", sans-serif;

    color: #F7F7F7;
    background-color: #00522C !important;
}

footer li {
    list-style-type: none;
}

.quick-links {
    text-decoration: none;

    color: #fff;
}

/* Media Queries */

@media(max-width: 992px) {
    .nav-item {
        margin: auto !important;
        padding: 5px !important;
    }
}

@media(max-width: 1000px) {
    .login-container {
        max-width: 400px;
    }

    .login-image {
        display: none;
    }

    .user .login-box {
        width: 100%;
    }
}
