{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Pestmarket | Forum
{% endblock %}

{% block content %}
<main>
    <div class="container p-4">
        <div class="card shadow mt-5 py-4 px-5 post">
            <div class="py-3 px-4 post-body">
                <a class="btn btn-sm btn-outline-secondary" href="/forum/">Back</a>
                <div class="post-author mt-5">
                    <img class="author-img" src="{{ object.author.profile.image.url }}" alt="">
                    <p class="text-muted ml-2">
                        <span class="author-name">{{ object.author }}</span>
                        <span class="ml-4">{{ object.date_time }}</span>
                    </p>
                    {% if object.author == user %}
                    <div class="post-options">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/forum/{{post.id}}/update">Update Post</a>
                                <a class="dropdown-item" href="/forum/{{post.id}}/delete">Delete Post</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr class="my-3">
                <div class="post-content">
                    <div class="post-title h5">{{ object.title }}</div>
                    <div class="post-text text-muted mt-3">{{ object.content }}</div>
                    <div class="post-image mt-3">
                        <img src="{{ object.image.url }}" alt="">
                    </div>
                </div>
                <hr class="my-3">
                <div>
                    <h6 class="text-muted">{{total_likes}} Likes <span style="float: right;">0 Comments</span></h6>
                </div>
                <hr class="my-3">
                <div class="post-actions">
                    <form action="{% url 'like-post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn-like">
                            <img class="like-post" src="{% static 'images/liked.png' %}" alt="">
                            <h6>Like</h6>
                        </button>
                        {% else %}
                        <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn-like">
                            <img class="like-post" src="{% static 'images/unliked.png' %}" alt="">
                            <h6>Like</h6>
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% if not post.comments.all %}
        <div class="card shadow mt-3 py-2 px-3 comment">
            <h6 class="m-auto">No Comments. <span><a href="{% url 'add-comment' post.pk%}">Add One</a></span></h6>
        </div>
        {% else %}
        {% for comment in post.comments.all %}
        <div class="card shadow mt-3 py-4 px-5 comment">
            <div class="post-author">
                <img class="author-img" src="{{ comment.name.profile.image.url }}" alt="">
                <p class="text-muted ml-2">
                    <span class="author-name">{{ comment.name }}</span>
                    <span class="ml-4">{{ comment.date_added }}</span>
                </p>
            </div>
            <hr class="my-2">
            <p>{{ comment.body }}</p>
        </div>
        {% endfor %}
        <div class="card shadow mt-3 py-2 px-3 comment">
            <h6 class="m-auto">Add Comment<a class="stretched-link" href="{% url 'add-comment' post.pk%}"></a></h6>
        </div>
        {% endif %}
    </div>
    </div>
</main>
{% endblock %}