{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Pestmarket | Marketplace and Forum for Agriculture
{% endblock %}

{% block content %}
<main>
    <h1>Login Page</h1>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
    <a href="/users/register">Register</a>
</main>
{% endblock %}