{% extends 'index.html' %}
{% load static %}

{% block title %}
Pestmarket | Marketplace and Forum for Agriculture
{% endblock %}

{% block content %}
<main>
    {% if user.is_authenticated %}
    <div></div>
    {% else %}
    <div class="container">
        <div class="login-container m-4 shadow-sm">
            <div class="user signinbox">
                <div class="login-image"><img src="{% static 'images/login.jpg' %}" alt=""></div>
                <div class="login-box">
                    <form method="POST">
                        {% csrf_token %}
                        <h2 class="text-center">Log In</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" name="username" placeholder="Username" />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                        <input class="btn-block btn-signin" type="submit" value="Login">
                        <p class="signup">New Here? <a href="/users/register/">Sign Up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}