{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Pestmarket | Register
{% endblock %}

{% block content %}
<main>
    {% if user.is_authenticated %}
    <div class="container p-5">
        <h4>Logout to register another account</h1>
    </div>
    {% else %}
    <!-- <h1>Register Page</h1>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <a href="/users/login">Login</a> -->
    <div class="container">
        <div class="m-4 p-5 shadow-sm">
            <form method="POST">
                {% csrf_token %}
                <h2 class="text-center">Register</h2>
                <div class="get-in">
                    {{form|crispy}}
                </div>
                <input class="btn-block btn-signin" type="submit" value="Register">
                <p class="signup">Already a member? <a href="/users/login/">Sign In</a></p>
            </form>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}